original-code/assignments/Module 16/Client Service/Client Service/Web References/insult/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getInsult">
        <s:complexType />
      </s:element>
      <s:element name="getInsultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInsultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInsultSoapIn">
    <wsdl:part name="parameters" element="tns:getInsult" />
  </wsdl:message>
  <wsdl:message name="getInsultSoapOut">
    <wsdl:part name="parameters" element="tns:getInsultResponse" />
  </wsdl:message>
  <wsdl:portType name="InsultGeneratorSoap">
    <wsdl:operation name="getInsult">
      <wsdl:input message="tns:getInsultSoapIn" />
      <wsdl:output message="tns:getInsultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsultGeneratorSoap" type="tns:InsultGeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="getInsult">
      <soap:operation soapAction="http://tempuri.org/getInsult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsultGenerator">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="InsultGeneratorSoap" binding="tns:InsultGeneratorSoap">
      <soap:address location="http://companyaspnet/donhubbard/randins/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>